:root {
  /********* CLRs **********/
  --pure-black: #000;
  --dark-grey: #979797;

  --light-grey: #dfdfdf;

  --pure-white: #fff;

  /********** FONT SIZE **********/
  --font-largest: 4rem;
  --font-larger: 2.4rem;
  --font-large: 1.8rem;
  --font-regular: 1.5rem;
  --font-medium-2: 1.3rem;
  --font-medium: 1.2rem;
  --font-mobile-nav: 1.5rem;
  --font-largest-mobile: 3.2rem;

  /********** LAYOUT **********/
  --gid: grid;

  /********** LINE HEIGHT **********/
  --line-height-largest: 4.8rem;
  --line-height-large: 2.5rem;
  --line-height-medium: 1.6rem;
  --line-height-largest-mobile: 4rem;

  /********** LTR SPACING **********/
  --letter-spc-largest: 4.17px;
  --letter-spc-large: 3.33px;
  --letter-spc-smallest: 2px;
  --letter-spc-largest-mobile: 3.3px;
  --letter-spc-mobile-nav: 2.5px;

  /********** WHT/SPC **************/
  --centre-hor: 0 auto;
  --padding-ver-mobile-largest: 7.2rem;
  --padding-ver-mobile-large: 6.4rem;
  --padding-ver-mobile-medium: 4.8rem;

  --padding-hor-mobile-large: 3.3rem;

  --padding-ver-tablet-largest: 12rem;
  --padding-hor-tablet-small: 3.9rem;
  --padding-hor-tablet-medium: 4.3rem;
  --padding-hor-tablet-large: 5.4rem;
  --padding-hor-tablet-largest: 15.5rem;

  --padding-hor-desktop-small: 4rem;
}

/********** CSS RESET **************/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  /* = 10px so any REMs = x10px */
  font-size: 62.5%;
}
/* @media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
} */

body {
  /* remove L/H on Body ?? */
  font: 1.5rem/2.5rem 'DM Sans', sans-serif;
  /* font-family: 'DM Sans', sans-serif; */
}

.container {
  max-width: 144rem;
  position: relative;
  margin: var(--centre-hor);
  overflow: hidden;
}

h1 {
  margin-left: 10000px;
  display: none;
}

h2 {
  text-transform: uppercase;
  font-size: var(--font-largest-mobile);
  line-height: var(--line-height-largest-mobile);
  letter-spacing: var(--letter-spc-largest-mobile);
}

.heading-medium {
  font-size: var(--font-large);
  line-height: var(--line-height-large);
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

span {
  display: inline-block;
}

ul {
  list-style: none;
}

img {
  display: block;
}

/************* MOBILE STYLES ***********/

/************ buttons ************/
.btn-mobile-open {
  background-image: url(../assets/icons/open-icon.svg);
  background-repeat: no-repeat;
}

.btn-mobile-close {
  background-image: url(../assets/icons/close-icon.svg);
  background-repeat: no-repeat;
}

.btn-mobile-nav-large {
  background-color: var(--pure-white);
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-mobile-nav-large button {
  border: none;
  outline: none;
  background-color: var(--pure-black);
  width: 83%;
}

.btn-mobile-nav-large button a:link,
.btn-mobile-nav-large button a:visited {
  color: var(--pure-white);
  text-transform: uppercase;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  font-size: var(--font-mobile-nav);
  letter-spacing: var(--letter-spc-mobile-nav);
}
/************ links/nav ************/
.btn-mobile-nav-large button a:active,
.btn-mobile-nav-large button a:hover {
  color: var(--pure-black);
  background-color: #dfdfdf;
  border: 1px solid #979797;
}

.link-normal {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: var(--letter-spc-smallest);
  text-transform: uppercase;
}

.link-white {
  color: var(--pure-white);
}

.link-black {
  color: var(--pure-black);
}

.link-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  width: 43px;
}

.main-nav ul a:link,
.main-nav ul a:visited {
  color: var(--pure-black);
}

.main-nav ul a:hover,
.main-nav ul a:active {
  color: rgba(0, 0, 0, 0.3);
}

.company-logo {
  width: 17rem;
  height: 1.6rem;
  line-height: normal;
}

.main-nav {
  width: 100%;
  border-bottom: 1px solid #000;
  background-color: var(--pure-white);

  /* Hide navigation */
  /* Allows NO transitions at all */
  /* display: none; */

  transform: translateX(100%);

  /* 1) Hide it visually */
  opacity: 0;

  /* 2) Make it unaccessible to mouse and keyboard */
  pointer-events: none;

  /* 3) Hide it from screen readers */
  visibility: hidden;

  transition: all 0.3s ease-in;

  z-index: 9999;
}

/* ".main-nav-open" is Toggled via JS - has to be on the Parent of the Nav BTN - so can use "~" or DESC. Sel' */
.main-nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
  z-index: 9999;
}

.btn-mobile-nav-large {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.3s ease-in;
  z-index: 9999;
}

.main-nav-open .btn-mobile-nav-large {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
  z-index: 9999;
}

.main-nav-open .overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* for B/wards Compt. */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 5000;
}

.main-nav__links {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  font-size: var(--font-mobile-nav);
  font-weight: 700;
  letter-spacing: var(--letter-spc-mobile-nav);
  line-height: 2.5rem;
}

.main-nav__links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.btn-mobile-nav {
  display: inline-block;
  position: absolute;
  right: 24px;
  top: 28px;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 1.5rem;
  background-position: center center;
  cursor: pointer;
}

.btn-mobile-nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/************ sections ************/

/****** HEADER ******/
.page-header {
  background-color: var(--pure-white);
  position: relative;
  width: 100%;
  height: 7.2rem;
  z-index: 9999;
  overflow: visible;
}

.page-header-container {
  height: 32.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 2.8rem;
  z-index: 9999;
}

.logo {
  align-self: start;
  margin-bottom: 2.8rem;
  margin-left: 2.4rem;
}

/****** HERO SECTION ******/
.hero-section {
  position: relative;
  background-color: var(--pure-black);
}

.hero-section__text--heading,
.stories__first-text,
.stories__second-text {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  gap: 2.6rem;

  padding-top: var(--padding-ver-mobile-largest);
  padding-bottom: var(--padding-ver-mobile-largest);
}

.hero-arrow-link,
.arrow-link {
  display: flex;
  gap: 2rem;
  margin-top: 1.3rem;
  line-height: normal;
  align-items: center;
}

.arrow-link {
  margin-top: 0;
}

/* .hero-section__text--heading > div.hero-arrow-link {
  line-height: normal;
} */

/* .hero-section__text--heading > div.hero-arrow-link .link-arrow { */
.hero-arrow-link .link-arrow,
.arrow-link .link-arrow {
  transform: translateY(2px);
}

.hero-section__text {
  position: relative;
  background-color: var(--pure-black);
  padding-left: var(--padding-hor-mobile-large);
  padding-right: var(--padding-hor-mobile-large);
}

.hero-section h2 {
  color: var(--pure-white);
}
.hero-section p {
  color: var(--pure-white);
  opacity: 0.6;
}

.color-bar-h {
  position: absolute;
  top: 0;
  left: 3.3rem;
}

.color-bar-v {
  display: none;
}

.hero-section__image img {
  width: 100%;
}

#stories-page .hero-section__text--heading {
  padding-top: var(--padding-ver-mobile-medium);
  padding-bottom: var(--padding-ver-mobile-medium);
  gap: 0;
}

.hero-section__text--heading h4 {
  font-size: var(--font-medium);
  font-weight: 700;
  letter-spacing: var(--letter-spc-smallest);
  text-transform: uppercase;
  color: var(--pure-white);
  margin-bottom: 1.4rem;
}

.hero-section__text--heading h2 {
  margin-bottom: 1.4rem;
}

.hero-date-author {
  display: flex;
  align-items: baseline;
  gap: 1.8rem;
  color: var(--pure-white);
  margin-bottom: 2.2rem;
}

.hero-date-author + p {
  margin-bottom: 1.4rem;
}

.hero-date-author span.hero-date {
  font-size: var(--font-medium-2);
  opacity: 0.75;
}

.hero-date-author span.hero-author {
  margin-left: -1rem;
  opacity: 1;
}

/****** STORIES SECTION ******/
.stories__first-text > div,
.stories__second-text > div {
  display: flex;
  gap: 2rem;
  margin-top: 1.3rem;
}

.stories h2 {
  color: var(--pure-black);
}

.stories a {
  line-height: normal;
}

.stories .link-arrow {
  transform: translateY(3px);
}

.stories__first-text,
.stories__second-text {
  padding-left: var(--padding-hor-mobile-large);
  padding-right: var(--padding-hor-mobile-large);
}

.stories p {
  color: var(--pure-black);
  opacity: 0.9;
}

.stories__first-image img,
.stories__second-image img {
  width: 100%;
}

/****** PHOTO CATEGORIES ******/
.photo-categories {
  display: grid;
}
.photo-categories-image {
  position: relative;
}

.photo-categories-image picture img {
  width: 100%;
}
.photo-categories-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  opacity: 75%;
}

.photo-categories-text {
  padding-left: var(--padding-hor-mobile-large);
  padding-right: var(--padding-hor-mobile-large);
  color: var(--pure-white);
}

.photo-categories-text .author {
  padding-bottom: 1rem;
  opacity: 0.8;
}

.photo-categories-text a {
  opacity: 0.9;
}

.photo-categories > div {
  position: relative;
}

.photo-categories-text {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 3.3rem;
}

.category-links > div {
  display: flex;
  justify-content: space-between;
}

.category-links a {
  line-height: normal;
}

.category-links .link-arrow {
  transform: translateY(3px);
}

.white-line {
  height: 1px;
  background-color: var(--pure-white);
  opacity: 0.3;
  margin-bottom: 1.3rem;
}

/****** BENEFITS SECTION ******/
.benefits {
  padding-top: var(--padding-ver-mobile-largest);
  padding-bottom: var(--padding-ver-mobile-largest);
  padding-left: var(--padding-hor-mobile-large);
  padding-right: var(--padding-hor-mobile-large);
  text-align: center;
}

.benefits p {
  opacity: 0.8;
}

.benefits-image {
  height: 7.2rem;
  width: 7.2rem;
  margin: 0 auto 4.8rem;
}

.benefits-image-responsive {
  background: url(../assets/icons/001-responsive.png) no-repeat;
}

.benefits-image-limit {
  height: 3.6rem;
  background: url(../assets/icons/002-forever.png) no-repeat;
}

.benefits-image-embed {
  background: url(../assets/icons/003-bullhorn.png) no-repeat;
}

.benefits-image-custom-domain {
  width: 8.1rem;
  background: url(../assets/icons/custom-domain.png) no-repeat;
}

.benefits-image-boost {
  background: url(../assets/icons/boost.png) no-repeat;
}

.benefits-image-drag {
  width: 9.1rem;
  background: url(../assets/icons/drag.png) no-repeat;
}

.benefits-text h3 {
  padding-bottom: 1.5rem;
}

.benefits-text p {
  padding-bottom: 5rem;
}

.benefits > div:last-of-type p {
  padding-bottom: 0;
}

.invite-today-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  padding-top: var(--padding-ver-mobile-large);
  padding-bottom: var(--padding-ver-mobile-large);
  padding-left: var(--padding-hor-mobile-large);
  padding-right: var(--padding-hor-mobile-large);
  background: #000;
  background: url(../assets/features/mobile/beta-invite-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--pure-white);
  /* Hack - bc Chrome had a 1px margin between divs */
  margin-bottom: -1px;
}

/****** FOOTER ******/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  /* height: 54rem; */
  background-color: var(--pure-black);
  padding-left: var(--padding-hor-mobile-large);
  padding-right: var(--padding-hor-mobile-large);
  padding-top: 5.6rem;
  padding-bottom: 5.6rem;
}

.company-logo-btm {
  margin-bottom: 4rem;
}

.socials {
  margin-bottom: 4rem;
}

.socials ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.socials li a {
  height: 20px;
  width: 20px;
}

.socials a.facebook {
  background-image: url(../assets/icons/fb.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.3s;
}

.socials a.facebook:hover {
  background-image: url(../assets/icons/fb-colored.svg);
}

.socials a.play-icon {
  background-image: url(../assets/icons/play-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.3s;
}

.socials a.play-icon:hover {
  background-image: url(../assets/icons/play-icon-colored.svg);
}

.socials a.twitter {
  background-image: url(../assets/icons/twitter.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.3s;
}

.socials a.twitter:hover {
  background-image: url(../assets/icons/twitter-colored.svg);
}

.socials a.pintrest {
  background-image: url(../assets/icons/pintrest.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.3s;
}

.socials a.pintrest:hover {
  background-image: url(../assets/icons/pintrest-colored.svg);
}

.socials a.instagram {
  background-image: url(../assets/icons/instagram.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.3s;
}

.socials a.instagram:hover {
  background-image: url(../assets/icons/instagram-colored.svg);
}

.copyright {
  color: var(--pure-white);
  opacity: 0.3;
}

.arrow-link {
  display: flex;
}

.footer-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
  font-weight: normal;
}

.bottom-link-and-copyright .arrow-link {
  display: flex;
  justify-content: center;
  gap: 2rem;
  line-height: normal;
  margin-bottom: 3.2rem;
}

.bottom-link-and-copyright .arrow-link .link-arrow {
  transform: translateY(3px);
}

/* for .photo-categories section img l/out
  - switch to 2 Cols @550px */
/* https://stackoverflow.com/questions/47888165/make-image-in-picture-element-fit-its-container */
@media screen and (min-width: 35em) {
  /********* PHOTO CAT'S SECTION ************/

  .photo-categories {
    grid-template-columns: 1fr 1fr;
  }

  .photo-categories__mountains,
  .photo-categories__cities,
  .photo-categories__voyage,
  .photo-categories__architecturals {
    /* height: 500px; */
    height: 50rem;
  }

  /* needed following 3 Class Styles to make <picture> to Fill its Container - via Object-fit */
  .photo-categories-image {
    width: 100%;
    height: 100%;
  }

  .photo-categories-image picture {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .photo-categories-image img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}

/************* TABLET STYLES - 768px+ ***********/
@media screen and (min-width: 48em) {
  /********* PG HEADER ************/
  .btn-mobile-nav {
    display: none;
  }

  .page-header {
    display: flex;
    align-items: center;
  }

  .page-header-container {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }

  .logo {
    align-self: center;
    margin-left: 3.9rem;
    margin-bottom: 0;
  }

  .main-nav {
    width: auto;
    border-bottom: none;
    margin-bottom: 0;

    /* only at Tablet+ */
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    z-index: 9999;
    transition: none;
  }

  .main-nav__links {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: var(--font-medium);
    font-weight: 700;
    letter-spacing: var(--letter-spc-smallest);
    line-height: normal;
  }

  .main-nav__links ul {
    flex-direction: row;
    gap: 3.7rem;
  }

  .btn-mobile-nav-large {
    display: block;
    width: auto;
    height: auto;
    margin-right: 3.9rem;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    z-index: 9999;
    transition: none;
  }

  .btn-mobile-nav-large button {
    width: auto;
  }

  .btn-mobile-nav-large button a {
    font-size: var(--font-medium);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    letter-spacing: var(--letter-spc-smallest);
  }

  /********* PG OVERLAY ************/
  .overlay-container {
    display: none;
  }

  /********* HERO SECTION ************/
  .color-bar-h {
    display: none;
  }

  .color-bar-v {
    display: inline;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .hero-section {
    display: grid;
    grid-template-columns: 1fr 27.3rem;
    align-items: center;
    min-height: 65rem;
  }

  .hero-section__image {
    /**** COULDNT USE GRID-COL - BC YOU CANT CHANGE THE SOURCE ORDER W/ IT - USED "ORDER" INSTEAD
    /* grid-column: 2 / span 1; */
    order: 2;
    height: 100%;
  }

  .hero-section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--padding-hor-tablet-large);
    padding-right: var(--padding-hor-tablet-large);
    order: 1;
    height: 100%;
    /* align-self: center; */
  }

  .hero-section__text--heading {
    padding-top: 0;
    padding-bottom: 0;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .hero-section__text--heading > div:hover a {
    text-decoration: underline;
  }
  .heading-largest {
    font-size: var(--font-largest);
    line-height: var(--line-height-largest);
    letter-spacing: var(--letter-spc-largest);
  }

  /********* STORIES SECTION ************/
  .stories__first,
  .stories__second {
    display: grid;
    grid-template-columns: 27.3rem 1fr;
    min-height: 60rem;
  }

  .stories__second {
    grid-template-columns: 1fr 27.3rem;
  }

  .stories__second-image {
    order: 2;
  }

  .stories__second-text {
    order: 1;
  }

  .stories__first-text,
  .stories__second-text {
    /* width: 100%; */
    /* height: 100%; */
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--padding-hor-tablet-large);
    padding-right: var(--padding-hor-tablet-large);
  }
  .stories__first-text > div {
    margin-bottom: 0.5rem;
  }

  .stories__first-text > div:hover a {
    text-decoration: underline;
  }

  .stories__second-text > div:hover a {
    text-decoration: underline;
  }

  /********* PHOTO CAT's SECTION ***********/
  .photo-categories-text {
    padding-left: var(--padding-hor-tablet-medium);
    padding-right: var(--padding-hor-tablet-medium);
  }

  .photo-categories__mountains,
  .photo-categories__cities,
  .photo-categories__voyage,
  .photo-categories__architecturals {
    transition: all 0.2s;
  }

  .photo-categories__mountains:hover,
  .photo-categories__cities:hover,
  .photo-categories__voyage:hover,
  .photo-categories__architecturals:hover {
    transform: translateY(-30px);
  }

  /****** BENEFITS SECTION ******/
  .benefits {
    padding-top: var(--padding-ver-tablet-largest);
    padding-bottom: var(--padding-ver-tablet-largest);
    padding-left: var(--padding-hor-tablet-largest);
    padding-right: var(--padding-hor-tablet-largest);
  }

  /****** FOOTER ******/
  footer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    background-color: var(--pure-black);
    padding-left: var(--padding-hor-tablet-small);
    padding-right: var(--padding-hor-tablet-small);
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }

  .socials-and-logo-and-nav {
    display: flex;
    flex-direction: column;
  }

  .company-logo-btm {
    order: 1;
    margin-bottom: 2.6rem;
  }

  .footer-nav {
    order: 2;
  }

  .socials {
    order: 3;
    margin-bottom: 0;
  }

  .socials ul {
    justify-content: start;
  }

  .footer-nav ul {
    flex-direction: row;
    gap: 2.5rem;
    margin-bottom: 6.2rem;
  }

  .footer-nav ul li a:hover,
  .footer-nav ul li a:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .bottom-link-and-copyright {
    height: 15.8rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    /* gap: 2rem; */
    margin-bottom: 0;
  }

  .bottom-link-and-copyright div.arrow-link:hover a {
    text-decoration: underline;
  }
}

/* for .photo-categories section img l/out
  - switch to 4 Cols @1000px */
@media screen and (min-width: 63em) {
  .photo-categories {
    /* grid-template-rows: 500px; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* @1370px - so Hero Img DIV = 57.75% of PG (W) */
@media screen and (min-width: 85.6em) {
  .hero-section {
    grid-template-columns: 1fr 57.75%;
  }

  .hero-section__image {
    width: 100%;
    height: 100%;
  }

  .hero-section__image picture {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .stories__first {
    grid-template-columns: 57.75% 1fr;
  }

  .stories__second {
    grid-template-columns: 1fr 57.75%;
  }

  .stories__first-image {
    width: 100%;
    height: 100%;
  }

  .stories__first-image picture {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .stories__second-image {
    width: 100%;
    height: 100%;
  }

  .stories__second-image picture {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .stories__first-text,
  .stories__second-text {
    padding-left: 11.2rem;
    padding-right: 11.2rem;
  }

  .benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding-left: 16.5rem;
    padding-right: 16.5rem;
  }

  .benefits-text p {
    padding-bottom: 0;
  }

  .benefits-image-limit {
    height: 72px;
    background-position: 50% 2rem;
  }
}

/* 1440px (= the MAX-W of the Site) */
@media screen and (min-width: 90em) {
  .logo {
    margin-left: 16.5rem;
  }

  .btn-mobile-nav-large {
    margin-right: 16.5rem;
  }

  .hero-section__text {
    padding-left: 11.2rem;
    padding-right: 11.2rem;
  }

  footer {
    height: 25rem;
    padding-left: 17.1rem;
    padding-right: 17.1rem;
  }

  .socials-and-logo-and-nav {
    width: 50%;
    height: 12.2rem;
    position: relative;
  }

  .socials {
    height: 20px;
    width: 160px;
    transform: translateY(-42px);
  }

  .socials ul {
    gap: 1rem;
  }

  .socials ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .company-logo-btm {
    margin-bottom: 0;
  }

  .footer-nav {
    align-self: end;
    transform: translateY(-23px);
  }

  .footer-nav ul {
    flex-direction: column;
    width: 10rem;
    align-items: start;
    gap: 0.75rem;
    margin-bottom: 0;
  }

  .bottom-link-and-copyright {
    height: 12.2rem;
  }
}

/*
.heading-large {
  font-size: var(--font-larger);
  line-height: var(--line-height-large);
}

.heading-medium {
  /* font-size: 1.8rem; */

/* font-size: var(--font-large);

  line-height: var(--line-height-large);
} */

/* .heading-small { */
/* font-size: 1.2rem; */
/* font-size: var(--font-medium);
  line-height: var(--line-height-medium);
  letter-spacing: var(--letter-spc-smallest);
} */

/************* DESKTOP STYLES ***********/
/* .btn-full {
  display: inline-bl--padding-hor-mobile-large
  width: 15.8rem;
  height: 4rem;
  font-size: var(--font-medium);
  

  text-transform: uppercase;
}

.btn-black {
  background-color: var(--pure-black);
  color: var(--pure-white);
}

.btn-white {
  background-color: var(--pure-white);
  color: var(--pure-black);
}

.btn-grey {
  background-color: var(--light-grey);
  color: var(--pure-black);
}

.btn-arrow {
} */

/************ headings ************/

/*************Tablet+ ***********/

/************ PG SECTIONS ************/

/*************Tablet+ ***********/
